.main{
    background-color:   #16253a;
    min-height: 140vh;
    text-align: center;
    color: rgb(157, 185, 179);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    }

    .main a{
color: #558181;

    }

    .main a:hover{
        color: #008080;
    }

    .tech,.tool{
        /* width: 600px; */
        width: 800px;
        margin:25px auto;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    
    .tech img,.tool img{
        width: 100%;  
         
    }


    .tech div,.tool div{
        padding: 10px;
        border-radius: 10px;
        background: #16253a
        /* background: linear-gradient(0deg, rgb(69, 77, 90) 0%, rgb(75, 78, 83) 78%, rgba(138, 141, 146, 0.9) 89%); */
    }

    .tech div,.tool div{
    
        background: #818c8a11;
        transition: .5s ease-in-out;
  
  }    

  .flip>a>*{
font-size: 90px;
  }

.tech div:hover,.tool div:hover{
    
background: #dbe9e6;
transition: .5s ease-in-out;


}



@media only screen and (max-width: 850px){
    .main{
        min-height: 90vh;
    }
.tech,.tool{
    width: 600px;
}
  .flip>a>*{
font-size: 75px;
  }
}

@media only screen and (max-width: 750px){

  .flip>a>*{
font-size: 60px;
  }
}

@media only screen and (max-width: 653px){
.tech{
    width: 450px;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.main div:nth-child(9){
    grid-column: 2 / 3;
}
.main div:nth-child(10){
    grid-column: 3 / 4;
}
.flip>a>*{
    font-size: 45px;
      }
      .tool{
        width: 450px;
        display: flex;
        flex-wrap:wrap;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
      }
}
@media only screen and (max-width: 500px){
    .tech{
        width: 400px;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }
    .tool{
        width: 400px;
        display: flex;
        flex-wrap:wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
      }
      .flip>a>*{
        font-size: 55px;
          }
}
@media only screen and (max-width: 450px){
    .tech{
        width: 300px;
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
    } 
    .main div:nth-child(9){
        grid-column:auto
    }
    .tool{
        width: 300px;
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
        align-items: center;
        justify-content: center;
      }
    .main div:nth-child(10){
        grid-column: 2/3;
    width: 70%;
    margin: auto;
    }
    }
    @media only screen and (max-width: 400px){

        .tool, .tech{
            width: 300px;
            grid-template-columns: repeat(3,1fr);
            gap: 15px;
            align-items: center;
    
          }
          .flip>a>*{
            font-size: 45px;
              }


    }

    @media only screen and (max-width: 350px){
        .tech, .tool{
            width: 200px;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        } 
        .main img{
            width: 80%;
        }
        .main div:nth-child(9){
            grid-column:auto
        }
        .main div:nth-child(10){
            grid-column: auto;
        }
    }