.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


footer{
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  padding: 5px 0px;
  text-align: center;
  background-color:#1b2430;
  color: #746a6aea;
}

@media screen and (max-width:768px) {
footer{
  font-size: 14px;
}
}

@media screen and (max-width:350px) {
  footer{
    font-size: 10px;
  }
  }